<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>com.apple.security.device.bluetooth</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.spotify.client</string>
		<string>com.apple.Music</string>
		<string>com.apple.TV</string>
		<string>com.apple.Safari</string>
		<string>com.apple.SafariTechnologyPreview</string>
		<string>com.google.Chrome</string>
		<string>com.google.Chrome.beta</string>
		<string>com.google.Chrome.canary</string>
		<string>org.chromium.Chromium</string>
		<string>com.brave.Browser</string>
		<string>com.microsoft.edgemac</string>
		<string>com.vivaldi.Vivaldi</string>
		<string>com.operasoftware.Opera</string>
		<string>company.thebrowser.Browser</string>
		<string>company.thebrowser.dia</string>
		<string>net.imput.helium</string>
		<string>ai.perplexity.comet</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>me.kainoa.sliders-spks</string>
		<string>me.kainoa.sliders-spki</string>
	</array>
</dict>
</plist>
